# Segmenting Customers for Food Products

# Problem Statement

The goal of the project is to predict the probability that the higher-ranked player will win a tennis match. We will call that a win. This can be stated more formally as: 
For two players 
 and 
 where 
 we calculate the probability that 
 will win the match, or that a win will happen.

# Dataset

In [14]:
import pandas as pd
df = pd.read_csv('Soup.csv')
df.head()

,Q1a,Q1b,Q1c,Q1d,Q1e,Q1f,Q1g,Q2a,Q2b,Q2c,...,Q8a,Q8b,Q8c,Q8d,Q8e,Q8f,Q8g,Q9,Q10,Q11
0,3,2,5,4,6,5,6,6,5,1,...,2,6,2,3,5,2,5,1,2,1
1,2,2,3,1,2,3,6,5,2,1,...,5,6,3,2,6,6,5,1,2,1
2,3,6,7,6,6,2,6,2,4,4,...,6,6,2,5,7,7,4,1,2,1
3,5,5,2,6,7,5,3,5,3,5,...,5,7,5,7,6,2,6,2,2,1
4,3,7,1,6,6,6,1,1,1,1,...,4,4,4,4,4,4,4,2,2,1

Each column stands for survey answer for questions

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Q1a     178 non-null    int64
 1   Q1b     178 non-null    int64
 2   Q1c     178 non-null    int64
 3   Q1d     178 non-null    int64
 4   Q1e     178 non-null    int64
 5   Q1f     178 non-null    int64
 6   Q1g     178 non-null    int64
 7   Q2a     178 non-null    int64
 8   Q2b     178 non-null    int64
 9   Q2c     178 non-null    int64
 10  Q3      178 non-null    int64
 11  Q4a     178 non-null    int64
 12  Q4b     178 non-null    int64
 13  Q4c     178 non-null    int64
 14  Q5      178 non-null    int64
 15  Q6      178 non-null    int64
 16  Q7      178 non-null    int64
 17  Q8a     178 non-null    int64
 18  Q8b     178 non-null    int64
 19  Q8c     178 non-null    int64
 20  Q8d     178 non-null    int64
 21  Q8e     178 non-null    int64
 22  Q8f     178 non-null    int64
 23  Q8g     178 non-null    int64
 24  Q9      178 non-null    int64
 25  Q10     178 non-null    int64
 26  Q11     178 non-null    int64
dtypes: int64(27)
memory usage: 37.7 KB

# Features

In [ ]:
print("abc")

# Importing Basic Modules

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.decomposition import FactorAnalysis
from sklearn import KMeans
import seaborn as sns
%matplotlib inline

# Data Pre-Processing

# Exploratory Analysis

# Dummy variables

# Factor Analysis

# Cluster Analysis

# Conclusion

XXXXXXXXXXXXXXXXXXXXXXXXXXXx